<hr class="border-t border-gray-300">
<section class="speakers py-20">
    <h1 class="text-3xl font-semibold text-center">Speakers</h1>
    <ul class="speaker-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
        <li class="bg-white p-4 rounded-lg shadow">
            <img alt="Nicole Forsgren" src="assets/Nat_Friedman_Headshot.jpg" class="w-full h-40 object-cover rounded-t-lg">
            <h3 class="mt-2 text-lg font-semibold">Getting better together: What enterprise can learn from global patterns</h3>
            <h4 class="text-md font-medium">Nicole Forsgren</h4>
            <h5 class="text-sm">VP Research & Strategy, GitHub</h5>
        </li>
        <li class="bg-white p-4 rounded-lg shadow">
            <img alt="Angie Jones" src="assets/Nicole_Forsgren_Headshot.jpg" class="w-full h-40 object-cover rounded-t-lg">
            <h3 class="mt-2 text-lg font-semibold">Visual tests on every pull request</h3>
            <h4 class="text-md font-medium">Angie Jones</h4>
            <h5 class="text-sm">Principal Developer Advocate, Applitools</h5>
        </li>
        <li class="bg-white p-4 rounded-lg shadow">
            <img alt="Hung Brown Ton" src="assets/Angie_Jones_Headshot.jpg" class="w-full h-40 object-cover rounded-t-lg">
            <h3 class="mt-2 text-lg font-semibold">From scientific poster sessions to GitHub global actions: transforming a century plus company to the digital age</h3>
            <h4 class="text-md font-medium">Hung Brown Ton</h4>
            <h5 class="text-sm">Chief Architect, 3M Company</h5>
        </li>
    </ul>
</section>