<section class="sponsors py-20">
    <div class="container mx-auto text-center">
        <h4 class="text-xl font-semibold">Thank you to our sponsors</h4>
        <ul class="sponsor-list grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-10">
            <li><a href="/sponsors/veracode/"><img src="https://githubuniverse.com/assets/img/sponsors/logo-veracode.svg" alt="Veracode" class="h-16"></a></li>
            <li><a href="/sponsors/bridgecrew/"><img src="https://githubuniverse.com/assets/img/sponsors/Bridgecrew.svg" alt="Bridgecrew" class="h-16"></a></li>
            <li><a href="/sponsors/whitesource/"><img src="https://githubuniverse.com/assets/img/sponsors/Whitesource.svg" alt="WhiteSource" class="h-16"></a></li>
            <li><a href="/sponsors/ponicode/"><img src="https://githubuniverse.com/assets/img/sponsors/ponicode.svg" alt="Ponicode" class="h-16"></a></li>
            <li><a href="/sponsors/azure/"><img src="https://githubuniverse.com/assets/img/sponsors/Azure-Stacked-White%20(1).png" alt="Microsoft Azure" class="h-16"></a></li>
            <li><a href="/sponsors/zenhub/"><img src="https://githubuniverse.com/assets/img/sponsors/zenhub.svg" alt="ZenHub" class="h-16"></a></li>
            <li><a href="/sponsors/accurics/"><img src="https://githubuniverse.com/assets/img/sponsors/Accurics_Monochromatic_Logo%20(1).png" alt="Accurics" class="h-16"></a></li>
            <li><a href="/sponsors/intuit/"><img src="https://githubuniverse.com/assets/img/sponsors/Intuit_Logo.svg" alt="Intuit" class="h-16"></a></li>
            <li><a href="/CircleCI/"><img src="https://githubuniverse.com/assets/img/sponsors/circle-logo-horizontal-white-1200x341%20(1).svg" alt="CircleCI" class="h-16"></a></li>
            <li><a href="/sponsors/intel/"><img src="https://githubuniverse.com/assets/img/sponsors/Intel_logo-white-3000px.png" alt="Intel" class="h-16"></a></li>
            <li><a href="/sponsors/okta/"><img src="https://githubuniverse.com/assets/img/sponsors/Okta.svg" alt="Okta" class="h-16"></a></li>
        </ul>
    </div>
</section>