<section class="attends py-20">
    <h2 class="text-2xl font-semibold">Why attend?</h2>
    <div class="mt-6">
        <h4 class="text-lg font-semibold text-purple-600">Learn from the best</h4>
        <p>Three channels of content dedicated to developers, enterprise teams, and college students.</p>
    </div>
    <div class="mt-6">
        <h4 class="text-lg font-semibold text-purple-600">Get the latest</h4>
        <p>New product announcements and deep dives.</p>
    </div>
    <div class="mt-6">
        <h4 class="text-lg font-semibold text-purple-600">Connect beyond content</h4>
        <p>Networking and learning opportunities, from Workshops to mentoring sessions.</p>
    </div>
    <div class="mt-6">
        <h4 class="text-lg font-semibold text-purple-600">Have fun along the way</h4>
        <p>Musical performances inspired by code and a few more surprises to come!</p>
    </div>
</section>
<hr class="border-t border-gray-300">
<section class="subscribe py-20 text-center">
    <p>We’re adding more speakers every day!<br>Sign up for updates to stay in the loop.</p>
    <br>
    <a href="#subscribe" class="inline-block px-6 py-2 mt-4 text-white bg-blue-600 rounded hover:bg-blue-500">
        <span>Subscribe for updates</span>
    </a>
</section>
<hr class="border-t border-gray-300">